First step is to import the required libraries. for our usecase, they are numpy, pandas, and matplotlib

In [94]:
import numpy
import pandas as pd
import numpy as np

def numpyAnswer(entry):
    print("\n-------NUMPY ANSWER--------\n")
    print(entry)
    
    
def pandasAnswer(entry):
    print("\n-------PANDAS ANSWER--------\n")
    print(entry)

Note: This project uses both numpy and pandas. So, each question is going to be answered twice, one with numpy approach and one another with pandas.

Q.1. Read the dataset.

My dataset is the fifth one so we're going to import them.

for Numpy, we use genfromtxt (Customized)

for Pandas, we use read_csv

In [95]:
#numpy


npdata = np.loadtxt("penguins_size5.csv",
                    delimiter=",",  # Specifies the separator between values in the file
                    dtype=str)  # Specifies that the data should be loaded as strings

numpyAnswer(npdata)

-------NUMPY ANSWER--------

[['species' 'island' 'culmen_length_mm' ... 'flipper_length_mm'
  'body_mass_g' 'sex']
 ['Chinstrap' 'Biscoe' '39.6410195855047' ... '224.77065388655927'
  '6100.78918485871' 'MALE']
 ['Adelie' 'Biscoe' '52.92431216271666' ... '200.42452278197'
  '2910.212058883836' 'MALE']
 ...
 ['Chinstrap' 'Dream' '50.876890709642' ... '214.34054202403698'
  '4398.2803008437' 'FEMALE']
 ['Chinstrap' 'Torgersen' '58.89409436821256' ... '183.6802921476406'
  '3378.813598630997' 'MALE']
 ['Adelie' 'Torgersen' '35.08455477461841' ... '189.66751555744287'
  '3012.7455834308316' 'MALE']]

In [96]:
# Pandas

pddata = pd.read_csv('penguins_size5.csv')
pandasAnswer(pddata)

-------PANDAS ANSWER--------

       species     island  culmen_length_mm  culmen_depth_mm  \
0    Chinstrap     Biscoe         39.641020        16.559920
1       Adelie     Biscoe         52.924312        21.198324
2    Chinstrap  Torgersen         56.974197        21.204410
3       Gentoo  Torgersen         36.457206        14.211573
4    Chinstrap     Biscoe         53.949836        15.695049
..         ...        ...               ...              ...
344  Chinstrap      Dream         41.898326        16.659695
345     Gentoo  Torgersen         46.888493        13.594821
346  Chinstrap      Dream         50.876891        20.188351
347  Chinstrap  Torgersen         58.894094        20.051153
348     Adelie  Torgersen         35.084555        19.225181

     flipper_length_mm  body_mass_g     sex
0           224.770654  6100.789185    MALE
1           200.424523  2910.212059    MALE
2           181.479774  3060.291164    MALE
3           198.097524  4582.231660    MALE
4           224.175924  5915.503933  FEMALE
..                 ...          ...     ...
344         203.918004  4421.307861    MALE
345         174.195316  2756.567714  FEMALE
346         214.340542  4398.280301  FEMALE
347         183.680292  3378.813599    MALE
348         189.667516  3012.745583    MALE

[349 rows x 7 columns]

Q.2. Find out shape of data

for Numpy, we use .shape

for Pandas, we use .shape too.

In [97]:
# Numpy
print(numpyAnswer(npdata.shape))
print(pandasAnswer(pddata.shape))

-------NUMPY ANSWER--------

(350, 7)
None

-------PANDAS ANSWER--------

(349, 7)
None

Q.3. Find dataset info

pandas already has its own method ".info" that shows the first 5 rows of data with the shape of the data. So, we're going to simulate this model for numpy to show infos too...

In [98]:
#pandas
numpyAnswer(npdata[:5, :])  # Extract the first 5 rows for display
print(npdata.shape)
pandasAnswer(pddata.info)

-------NUMPY ANSWER--------

[['species' 'island' 'culmen_length_mm' 'culmen_depth_mm'
  'flipper_length_mm' 'body_mass_g' 'sex']
 ['Chinstrap' 'Biscoe' '39.6410195855047' '16.559920092667056'
  '224.77065388655927' '6100.78918485871' 'MALE']
 ['Adelie' 'Biscoe' '52.92431216271666' '21.19832391416987'
  '200.42452278197' '2910.212058883836' 'MALE']
 ['Chinstrap' 'Torgersen' '56.974196674120975' '21.204409598283455'
  '181.47977437089153' '3060.2911641016844' 'MALE']
 ['Gentoo' 'Torgersen' '36.45720603642013' '14.211573109547974'
  '198.09752399290045' '4582.231660174379' 'MALE']]
(350, 7)

-------PANDAS ANSWER--------

<bound method DataFrame.info of        species     island  culmen_length_mm  culmen_depth_mm  \
0    Chinstrap     Biscoe         39.641020        16.559920
1       Adelie     Biscoe         52.924312        21.198324
2    Chinstrap  Torgersen         56.974197        21.204410
3       Gentoo  Torgersen         36.457206        14.211573
4    Chinstrap     Biscoe         53.949836        15.695049
..         ...        ...               ...              ...
344  Chinstrap      Dream         41.898326        16.659695
345     Gentoo  Torgersen         46.888493        13.594821
346  Chinstrap      Dream         50.876891        20.188351
347  Chinstrap  Torgersen         58.894094        20.051153
348     Adelie  Torgersen         35.084555        19.225181

     flipper_length_mm  body_mass_g     sex
0           224.770654  6100.789185    MALE
1           200.424523  2910.212059    MALE
2           181.479774  3060.291164    MALE
3           198.097524  4582.231660    MALE
4           224.175924  5915.503933  FEMALE
..                 ...          ...     ...
344         203.918004  4421.307861    MALE
345         174.195316  2756.567714  FEMALE
346         214.340542  4398.280301  FEMALE
347         183.680292  3378.813599    MALE
348         189.667516  3012.745583    MALE

[349 rows x 7 columns]>

In [99]:
pandasAnswer(pddata.describe)

-------PANDAS ANSWER--------

<bound method NDFrame.describe of        species     island  culmen_length_mm  culmen_depth_mm  \
0    Chinstrap     Biscoe         39.641020        16.559920
1       Adelie     Biscoe         52.924312        21.198324
2    Chinstrap  Torgersen         56.974197        21.204410
3       Gentoo  Torgersen         36.457206        14.211573
4    Chinstrap     Biscoe         53.949836        15.695049
..         ...        ...               ...              ...
344  Chinstrap      Dream         41.898326        16.659695
345     Gentoo  Torgersen         46.888493        13.594821
346  Chinstrap      Dream         50.876891        20.188351
347  Chinstrap  Torgersen         58.894094        20.051153
348     Adelie  Torgersen         35.084555        19.225181

     flipper_length_mm  body_mass_g     sex
0           224.770654  6100.789185    MALE
1           200.424523  2910.212059    MALE
2           181.479774  3060.291164    MALE
3           198.097524  4582.231660    MALE
4           224.175924  5915.503933  FEMALE
..                 ...          ...     ...
344         203.918004  4421.307861    MALE
345         174.195316  2756.567714  FEMALE
346         214.340542  4398.280301  FEMALE
347         183.680292  3378.813599    MALE
348         189.667516  3012.745583    MALE

[349 rows x 7 columns]>

Q.4. Find unique values in the "species" column. (Unique Species)

Numpy => we're going to skip the header (row 0) then we're going to call out unique method of numpy to return what we want.

Pandas => we're going to grab species column with ["species"], then we'll grab unique ones by adding .unique() method.

In [100]:
# Numpy
npunique_species = np.unique(npdata[1:, 0])  # Skip the header (row 0)
numpyAnswer(npunique_species)

# Pandas
pdunique_species = pddata["species"].unique()
pandasAnswer(pdunique_species)

-------NUMPY ANSWER--------

['Adelie' 'Chinstrap' 'Gentoo' 'NA']

-------PANDAS ANSWER--------

['Chinstrap' 'Adelie' 'Gentoo' nan]

Q.5. Find NaN values per columns.

Pandas ==> For pandas, we'll call isna() method to see if a value is equal to Nan or not. then, we'll call sum() method to sum all of them altogether.

In [101]:
# Numpy
npnan_counts = np.sum(npdata == '', axis=0)
numpyAnswer(npnan_counts)

# Pandas
panan_counts = pddata.isna().sum()
pandasAnswer(panan_counts)

-------NUMPY ANSWER--------

[0 0 0 0 0 0 0]

-------PANDAS ANSWER--------

species               3
island               13
culmen_length_mm      4
culmen_depth_mm      10
flipper_length_mm     5
body_mass_g          12
sex                  11
dtype: int64

Q.6. Find coloumn_depth_mm for each island

Numpy ==> First, we're going to grab unique island names with the methods explained in previous questions. then we're going to collect each island's coloumn_depth_mm and return them.

In [102]:
# Get unique island names
npislands = np.unique(npdata["island"])  # Unique island names

# Group culmen_depth_mm by island
npcolumn_depth_per_island = {
    island: npdata["culmen_depth_mm"][npdata["island"] == island]
    for island in npislands
}

# Properly format the output for each island and its corresponding culmen_depth_mm values
numpyAnswer('\n'.join([f"{island}: {depths}" for island, depths in npcolumn_depth_per_island.items()]))


#pandas

pdcolumns_depth_per_island = pddata.groupby("island")["culmen_depth_mm"].apply(list)
pandasAnswer(pdcolumns_depth_per_island)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices