First step is to import the required libraries, pandas and matplotlib.

In [1]:
import pandas as pd    
    
def pandasAnswer(entry):
    print("\n----------------------------ANSWER----------------------------\n")
    print(entry)
    print("\n-------------------------END OF ANSWER-------------------------\n")

Q.1. خواندن دیتاست (dataset read)

My dataset is the fifth one so we're going to import them.

we'll use ```read_csv```

In [2]:
pddata = pd.read_csv('penguins_size5.csv')
pandasAnswer(pddata)

----------------------------ANSWER----------------------------

       species     island  culmen_length_mm  culmen_depth_mm  \
0    Chinstrap     Biscoe         39.641020        16.559920
1       Adelie     Biscoe         52.924312        21.198324
2    Chinstrap  Torgersen         56.974197        21.204410
3       Gentoo  Torgersen         36.457206        14.211573
4    Chinstrap     Biscoe         53.949836        15.695049
..         ...        ...               ...              ...
344  Chinstrap      Dream         41.898326        16.659695
345     Gentoo  Torgersen         46.888493        13.594821
346  Chinstrap      Dream         50.876891        20.188351
347  Chinstrap  Torgersen         58.894094        20.051153
348     Adelie  Torgersen         35.084555        19.225181

     flipper_length_mm  body_mass_g     sex
0           224.770654  6100.789185    MALE
1           200.424523  2910.212059    MALE
2           181.479774  3060.291164    MALE
3           198.097524  4582.231660    MALE
4           224.175924  5915.503933  FEMALE
..                 ...          ...     ...
344         203.918004  4421.307861    MALE
345         174.195316  2756.567714  FEMALE
346         214.340542  4398.280301  FEMALE
347         183.680292  3378.813599    MALE
348         189.667516  3012.745583    MALE

[349 rows x 7 columns]

-------------------------END OF ANSWER-------------------------

Q.2. شکل دیتاست را پیدا کنید (data of shape out find)

Shape means its dimentions, so we use ```.shape``` to show us the dataset's shape.

In [3]:
print(pandasAnswer(pddata.shape))

----------------------------ANSWER----------------------------

(349, 7)

-------------------------END OF ANSWER-------------------------

None

Q.3. اطالعات آماری مربوط به دیتاست را پیدا کنید (info dataset find)

pandas already has its own method ```.info``` that shows the first 5 rows of data with the shape of the data.

In [4]:
pandasAnswer(pddata.info)

----------------------------ANSWER----------------------------

<bound method DataFrame.info of        species     island  culmen_length_mm  culmen_depth_mm  \
0    Chinstrap     Biscoe         39.641020        16.559920
1       Adelie     Biscoe         52.924312        21.198324
2    Chinstrap  Torgersen         56.974197        21.204410
3       Gentoo  Torgersen         36.457206        14.211573
4    Chinstrap     Biscoe         53.949836        15.695049
..         ...        ...               ...              ...
344  Chinstrap      Dream         41.898326        16.659695
345     Gentoo  Torgersen         46.888493        13.594821
346  Chinstrap      Dream         50.876891        20.188351
347  Chinstrap  Torgersen         58.894094        20.051153
348     Adelie  Torgersen         35.084555        19.225181

     flipper_length_mm  body_mass_g     sex
0           224.770654  6100.789185    MALE
1           200.424523  2910.212059    MALE
2           181.479774  3060.291164    MALE
3           198.097524  4582.231660    MALE
4           224.175924  5915.503933  FEMALE
..                 ...          ...     ...
344         203.918004  4421.307861    MALE
345         174.195316  2756.567714  FEMALE
346         214.340542  4398.280301  FEMALE
347         183.680292  3378.813599    MALE
348         189.667516  3012.745583    MALE

[349 rows x 7 columns]>

-------------------------END OF ANSWER-------------------------

In [5]:
pandasAnswer(pddata.describe)

----------------------------ANSWER----------------------------

<bound method NDFrame.describe of        species     island  culmen_length_mm  culmen_depth_mm  \
0    Chinstrap     Biscoe         39.641020        16.559920
1       Adelie     Biscoe         52.924312        21.198324
2    Chinstrap  Torgersen         56.974197        21.204410
3       Gentoo  Torgersen         36.457206        14.211573
4    Chinstrap     Biscoe         53.949836        15.695049
..         ...        ...               ...              ...
344  Chinstrap      Dream         41.898326        16.659695
345     Gentoo  Torgersen         46.888493        13.594821
346  Chinstrap      Dream         50.876891        20.188351
347  Chinstrap  Torgersen         58.894094        20.051153
348     Adelie  Torgersen         35.084555        19.225181

     flipper_length_mm  body_mass_g     sex
0           224.770654  6100.789185    MALE
1           200.424523  2910.212059    MALE
2           181.479774  3060.291164    MALE
3           198.097524  4582.231660    MALE
4           224.175924  5915.503933  FEMALE
..                 ...          ...     ...
344         203.918004  4421.307861    MALE
345         174.195316  2756.567714  FEMALE
346         214.340542  4398.280301  FEMALE
347         183.680292  3378.813599    MALE
348         189.667516  3012.745583    MALE

[349 rows x 7 columns]>

-------------------------END OF ANSWER-------------------------

Q.4. مقادیر یونیک را در ستون گونه ها پیدا کنید (unique species)

we'll grab species column with ```["species"]```, then we'll grab unique ones by adding ```.unique()``` method.

In [6]:
# Pandas
pdunique_species = pddata["species"].unique()
pandasAnswer(pdunique_species)

----------------------------ANSWER----------------------------

['Chinstrap' 'Adelie' 'Gentoo' nan]

-------------------------END OF ANSWER-------------------------

Q.5. تعداد مقادیر نان هر ستون را بیابید. (find NaN values per columns)

we'll call ```isna()``` method to see if a value is equal to Nan or not. then, we'll call ```sum()``` method to sum all of them altogether.

In [13]:
# Pandas
panan_counts = pddata.isna().sum()
pandasAnswer(panan_counts)

----------------------------ANSWER----------------------------

species               3
island               13
culmen_length_mm      4
culmen_depth_mm      10
flipper_length_mm     5
body_mass_g          12
sex                  11
dtype: int64

-------------------------END OF ANSWER-------------------------

Q.6. مقدار زیر را برای هر جزیره بیابید (find ```culmen_depth_mm``` in each island)

```culmen_depth_mm```

It needs ```culmen_depth_mm``` in each island. so, we'll group the dataset out of ```island``` and then grab ```culmen_depth_mm``` and in the end, we'll apply them into a list.

In [14]:
#pandas

pdculmen_depth_per_island = pddata.groupby("island")["culmen_depth_mm"].apply(list)
pandasAnswer(pdculmen_depth_per_island)

----------------------------ANSWER----------------------------

island
Biscoe       [16.559920092667056, 21.19832391416987, 15.695...
Dream        [18.52720750061792, 15.923554382720477, 16.583...
Torgersen    [21.20440959828345, 14.211573109547974, 21.112...
Name: culmen_depth_mm, dtype: object

-------------------------END OF ANSWER-------------------------

Q.7. Find body mass in each sex

In [9]:
#pandas

pdcolumns_depth_per_island = pddata.groupby("sex")["body_mass_g"].apply(list)
pandasAnswer(pdcolumns_depth_per_island)

----------------------------ANSWER----------------------------

sex
FEMALE    [5915.50393343563, 3647.364787232397, 5917.708...
MALE      [6100.78918485871, 2910.212058883836, 3060.291...
Name: body_mass_g, dtype: object

-------------------------END OF ANSWER-------------------------

Q.8. Species in each land

In [10]:
#pandas

pdcolumns_depth_per_island = pddata.groupby("island")["species"].apply(list)
pandasAnswer(pdcolumns_depth_per_island)

----------------------------ANSWER----------------------------

island
Biscoe       [Chinstrap, Adelie, Chinstrap, Adelie, Chinstr...
Dream        [Chinstrap, Chinstrap, Gentoo, Adelie, Chinstr...
Torgersen    [Chinstrap, Gentoo, Gentoo, Chinstrap, Gentoo,...
Name: species, dtype: object

-------------------------END OF ANSWER-------------------------

Q.9. share of female penguins in each species

In [11]:
# Filter the data where sex is 'FEMALE' and group by 'species'
pdcolumns_depth_per_island = pddata[pddata["sex"] == 'FEMALE'].groupby("species").size()

# Group by 'species' and count the total population (all sexes)
Q9T = pddata.groupby("species").size()

# Display the result as a percentage
pandasAnswer((pdcolumns_depth_per_island / Q9T) * 100)

----------------------------ANSWER----------------------------

species
Adelie       38.461538
Chinstrap    42.990654
Gentoo       42.222222
dtype: float64

-------------------------END OF ANSWER-------------------------

Q.10.