First step is to import the required libraries, pandas and matplotlib.

In [1]:
import pandas as pd    
    
def pandasAnswer(entry):
    print("\n----------------------------ANSWER----------------------------\n")
    print(entry)
    print("\n-------------------------END OF ANSWER-------------------------\n")

Q.1. خواندن دیتاست (dataset read)

My dataset is the fifth one so we're going to import them.

we'll use ```read_csv```

In [2]:
pddataUNCLEAN = pd.read_csv('penguins_size5.csv')
pandasAnswer(pddataUNCLEAN)

----------------------------ANSWER----------------------------

       species     island  culmen_length_mm  culmen_depth_mm  \
0    Chinstrap     Biscoe         39.641020        16.559920
1       Adelie     Biscoe         52.924312        21.198324
2    Chinstrap  Torgersen         56.974197        21.204410
3       Gentoo  Torgersen         36.457206        14.211573
4    Chinstrap     Biscoe         53.949836        15.695049
..         ...        ...               ...              ...
344  Chinstrap      Dream         41.898326        16.659695
345     Gentoo  Torgersen         46.888493        13.594821
346  Chinstrap      Dream         50.876891        20.188351
347  Chinstrap  Torgersen         58.894094        20.051153
348     Adelie  Torgersen         35.084555        19.225181

     flipper_length_mm  body_mass_g     sex
0           224.770654  6100.789185    MALE
1           200.424523  2910.212059    MALE
2           181.479774  3060.291164    MALE
3           198.097524  4582.231660    MALE
4           224.175924  5915.503933  FEMALE
..                 ...          ...     ...
344         203.918004  4421.307861    MALE
345         174.195316  2756.567714  FEMALE
346         214.340542  4398.280301  FEMALE
347         183.680292  3378.813599    MALE
348         189.667516  3012.745583    MALE

[349 rows x 7 columns]

-------------------------END OF ANSWER-------------------------

Q.2. شکل دیتاست را پیدا کنید (data of shape out find)

Shape means its dimentions, so we use ```.shape``` to show us the dataset's shape.

In [3]:
print(pandasAnswer(pddataUNCLEAN.shape))

----------------------------ANSWER----------------------------

(349, 7)

-------------------------END OF ANSWER-------------------------

None

Q.3. اطالعات آماری مربوط به دیتاست را پیدا کنید (info dataset find)

pandas already has its own method ```.info``` that shows the first 5 rows of data with the shape of the data.

In [4]:
pandasAnswer(pddataUNCLEAN.info)

----------------------------ANSWER----------------------------

<bound method DataFrame.info of        species     island  culmen_length_mm  culmen_depth_mm  \
0    Chinstrap     Biscoe         39.641020        16.559920
1       Adelie     Biscoe         52.924312        21.198324
2    Chinstrap  Torgersen         56.974197        21.204410
3       Gentoo  Torgersen         36.457206        14.211573
4    Chinstrap     Biscoe         53.949836        15.695049
..         ...        ...               ...              ...
344  Chinstrap      Dream         41.898326        16.659695
345     Gentoo  Torgersen         46.888493        13.594821
346  Chinstrap      Dream         50.876891        20.188351
347  Chinstrap  Torgersen         58.894094        20.051153
348     Adelie  Torgersen         35.084555        19.225181

     flipper_length_mm  body_mass_g     sex
0           224.770654  6100.789185    MALE
1           200.424523  2910.212059    MALE
2           181.479774  3060.291164    MALE
3           198.097524  4582.231660    MALE
4           224.175924  5915.503933  FEMALE
..                 ...          ...     ...
344         203.918004  4421.307861    MALE
345         174.195316  2756.567714  FEMALE
346         214.340542  4398.280301  FEMALE
347         183.680292  3378.813599    MALE
348         189.667516  3012.745583    MALE

[349 rows x 7 columns]>

-------------------------END OF ANSWER-------------------------

In [5]:
pandasAnswer(pddataUNCLEAN.describe)

----------------------------ANSWER----------------------------

<bound method NDFrame.describe of        species     island  culmen_length_mm  culmen_depth_mm  \
0    Chinstrap     Biscoe         39.641020        16.559920
1       Adelie     Biscoe         52.924312        21.198324
2    Chinstrap  Torgersen         56.974197        21.204410
3       Gentoo  Torgersen         36.457206        14.211573
4    Chinstrap     Biscoe         53.949836        15.695049
..         ...        ...               ...              ...
344  Chinstrap      Dream         41.898326        16.659695
345     Gentoo  Torgersen         46.888493        13.594821
346  Chinstrap      Dream         50.876891        20.188351
347  Chinstrap  Torgersen         58.894094        20.051153
348     Adelie  Torgersen         35.084555        19.225181

     flipper_length_mm  body_mass_g     sex
0           224.770654  6100.789185    MALE
1           200.424523  2910.212059    MALE
2           181.479774  3060.291164    MALE
3           198.097524  4582.231660    MALE
4           224.175924  5915.503933  FEMALE
..                 ...          ...     ...
344         203.918004  4421.307861    MALE
345         174.195316  2756.567714  FEMALE
346         214.340542  4398.280301  FEMALE
347         183.680292  3378.813599    MALE
348         189.667516  3012.745583    MALE

[349 rows x 7 columns]>

-------------------------END OF ANSWER-------------------------

Q.4. مقادیر یونیک را در ستون گونه ها پیدا کنید (unique species)

we'll grab species column with ```["species"]```, then we'll grab unique ones by adding ```.unique()``` method.

In [6]:
# Pandas
q4_unique_species = pddataUNCLEAN["species"].unique()
pandasAnswer(q4_unique_species)

----------------------------ANSWER----------------------------

['Chinstrap' 'Adelie' 'Gentoo' nan]

-------------------------END OF ANSWER-------------------------

Q.5. تعداد مقادیر نان هر ستون را بیابید. (find NaN values per columns)

we'll call ```isna()``` method to see if a value is equal to Nan or not. then, we'll call ```sum()``` method to sum all of them altogether.

In [7]:
# Pandas
q5_nan_counts = pddataUNCLEAN.isna().sum()
pandasAnswer(q5_nan_counts)

----------------------------ANSWER----------------------------

species               3
island               13
culmen_length_mm      4
culmen_depth_mm      10
flipper_length_mm     5
body_mass_g          12
sex                  11
dtype: int64

-------------------------END OF ANSWER-------------------------

So, it's important to clear the dataset out of ```Nan```s. We'll do that by ```dropna()``` method.

In [8]:
pddata = pddataUNCLEAN.dropna()

Q.6. مقدار زیر را برای هر جزیره بیابید (find ```culmen_depth_mm``` in each island)

```culmen_depth_mm```

It needs ```culmen_depth_mm``` in each island. so, we'll group the dataset out of ```island``` and then grab ```culmen_depth_mm``` and in the end, we'll apply them into a list.

In [9]:
#pandas

q6_culmen_depth_per_island = pddata.groupby("island")["culmen_depth_mm"].apply(list)
pandasAnswer(q6_culmen_depth_per_island)

----------------------------ANSWER----------------------------

island
Biscoe       [16.559920092667056, 21.19832391416987, 15.695...
Dream        [18.52720750061792, 15.923554382720477, 16.583...
Torgersen    [21.20440959828345, 14.211573109547974, 21.112...
Name: culmen_depth_mm, dtype: object

-------------------------END OF ANSWER-------------------------

Q.7. جرم بدن هر کدام از جنسیت ها را بیابید (body mass in each sex)

The solution of this question is pretty similar to the previous one. We need to group dataset out of ```sex``` and then grab ```body_mass_g``` and lastly, list them all.

In [10]:
#pandas

q7_body_mass_g_per_sex = pddata.groupby("sex")["body_mass_g"].apply(list)
pandasAnswer(q7_body_mass_g_per_sex)

----------------------------ANSWER----------------------------

sex
FEMALE    [5915.50393343563, 3647.364787232397, 5917.708...
MALE      [6100.78918485871, 2910.212058883836, 3060.291...
Name: body_mass_g, dtype: object

-------------------------END OF ANSWER-------------------------

Q.8. گونه های موجود در هر جزیره را بیابید (species in each island)

Exactly like the two previous questions, We'll grab ```islands``` and take ```species``` out of them and create a list of all of these.

In [11]:
#pandas

q8_species_per_island = pddata.groupby("island")["species"].apply(list)
pandasAnswer(q8_species_per_island)

----------------------------ANSWER----------------------------

island
Biscoe       [Chinstrap, Adelie, Chinstrap, Adelie, Chinstr...
Dream        [Chinstrap, Chinstrap, Gentoo, Adelie, Chinstr...
Torgersen    [Chinstrap, Gentoo, Gentoo, Chinstrap, Gentoo,...
Name: species, dtype: object

-------------------------END OF ANSWER-------------------------

Q.9. نسبت پنگوئن های ماده در هر گونه را بیابید (Share of female penguins in each species)

When it comes to "share of something", we need the percentage of that something out of total. So, per species (in a group of species), We'll find the amount of ```FEMALE``` sex per species. The total amount of each species would be the size of each species that's been grouped with ```.groupby()``` method. In the end, we'll display results as a percentage.

In [12]:
q9_countof_female_per_species = pddata[pddata["sex"] == 'FEMALE'].groupby("species").size()

q9_countof_each_species = pddata.groupby("species").size()

pandasAnswer((q9_countof_female_per_species / q9_countof_each_species) * 100)

----------------------------ANSWER----------------------------

species
Adelie       40.909091
Chinstrap    42.553191
Gentoo       43.750000
dtype: float64

-------------------------END OF ANSWER-------------------------

Q.10. طول منقار گونه های موجود در دیتاست را باهم مقایسه کنید مینیمم ماکزیمم میانگین (```flipper_length_mm``` comparisons between species (min, max, mean))

This question basically wants us to find each species' ```flipper_length_mm```'s minimum, maximum, and mean values.

To do that...

1. we're going to grab ```flipper_length_mm``` of each species and turning it into a list.
2. we'll put out min, max, and values of each ```flipper_length_mm``` amounts of each species.
3. we'll create a new dataset that has each species' min, max, and mean value of ```flipper_length_mm```
4. We'll collect all values of the ```Min``` column and will append values to a list.
5. to compare values of the ```Min``` list, we'll need to save each values' position in the list because that position relies with the value's raw number in the main data frame. that's why we'll create a dictionary that will record all positions of the list.
6. We'll sort the list with "Bubble sort" technique.
7. You can imagine that the sorted list's values are compared correctly but we need to replace numbers with required index (by index, I mean the species). So, per object of the sorted list, we'll find its raw (with the dictionary we made at 5th step) and we'll grab the rawth index. We can say, this step basically translates numbers into its raw (with step 5's dictionary) and from raw to index (with ```dataframe.index[dict_pos[i]]```)
8. by joining ```>``` into the list

In [82]:
q10_flipper_length_per_species = pddata.groupby("species")["flipper_length_mm"].apply(list)

q10_max = q10_flipper_length_per_species.apply(max)
q10_min = q10_flipper_length_per_species.apply(min)
q10_mean = q10_flipper_length_per_species.apply(lambda x: sum(x) / len(x))  # Calculate mean manually

q10_stats = pd.DataFrame({
    "Min": q10_max,
    "Max": q10_mean,
    "Mean": q10_min,
})

def compare(dataframe, entry):
    dict_pos = {i: entry.index(i) for i in entry}
    n = len(entry)
    for i in range(n):
        for j in range(0, n-i-1):
            if entry[j] > entry[j + 1]:
                entry[j], entry[j + 1] = entry[j + 1], entry[j]
    
    compare_names = []
    for i in entry:
        print(dataframe.index[dict_pos[i]])
        compare_names.append(dataframe.index[dict_pos[i]])
        
    return " < ".join(compare_names)
    
def q10_results(dataframe):
    answer = ""
    mins = []
    maxs = []
    means = []
    
    answer += q10_stats.to_string()
    
    answer += "\n\n\n"
    
    
    mins.extend(dataframe["Min"])
    answer += "A compare of the each species' minimums:\n"
    answer += compare(dataframe, mins)
    answer += "\n\n"
    
    
    answer += "A compare of the each species' maximums:\n"
    maxs.extend(dataframe["Max"])
    answer += compare(dataframe, maxs)
    answer += "\n\n"
    
    answer += "A compare of the each species' means:\n"
    means.extend(dataframe["Mean"])
    answer += compare(dataframe, means)
    answer += "\n\n"
    
    
    return answer


pandasAnswer(q10_results(q10_stats))

Adelie
Gentoo
Chinstrap
Chinstrap
Adelie
Gentoo
Chinstrap
Adelie
Gentoo

----------------------------ANSWER----------------------------

                  Min         Max        Mean
species
Adelie     230.126074  199.714927  173.108895
Chinstrap  230.778038  199.413061  172.371416
Gentoo     230.628495  201.734706  173.401952


A compare of the each species' minimums:
Adelie < Gentoo < Chinstrap

A compare of the each species' maximums:
Chinstrap < Adelie < Gentoo

A compare of the each species' means:
Chinstrap < Adelie < Gentoo



-------------------------END OF ANSWER-------------------------