In [1]:
import pandas as pd
dataset = pd.read_csv('penguins_size5.csv').dropna()

In [2]:
print(dataset)

       species     island  culmen_length_mm  culmen_depth_mm  \
0    Chinstrap     Biscoe         39.641020        16.559920
1       Adelie     Biscoe         52.924312        21.198324
2    Chinstrap  Torgersen         56.974197        21.204410
3       Gentoo  Torgersen         36.457206        14.211573
4    Chinstrap     Biscoe         53.949836        15.695049
..         ...        ...               ...              ...
344  Chinstrap      Dream         41.898326        16.659695
345     Gentoo  Torgersen         46.888493        13.594821
346  Chinstrap      Dream         50.876891        20.188351
347  Chinstrap  Torgersen         58.894094        20.051153
348     Adelie  Torgersen         35.084555        19.225181

     flipper_length_mm  body_mass_g     sex
0           224.770654  6100.789185    MALE
1           200.424523  2910.212059    MALE
2           181.479774  3060.291164    MALE
3           198.097524  4582.231660    MALE
4           224.175924  5915.503933  FEMALE
..                 ...          ...     ...
344         203.918004  4421.307861    MALE
345         174.195316  2756.567714  FEMALE
346         214.340542  4398.280301  FEMALE
347         183.680292  3378.813599    MALE
348         189.667516  3012.745583    MALE

[294 rows x 7 columns]

In [10]:
print(dataset[dataset["sex"] == 'MALE'])

       species     island  culmen_length_mm  culmen_depth_mm  \
0    Chinstrap     Biscoe         39.641020        16.559920
1       Adelie     Biscoe         52.924312        21.198324
2    Chinstrap  Torgersen         56.974197        21.204410
3       Gentoo  Torgersen         36.457206        14.211573
5    Chinstrap      Dream         39.351658        18.527208
..         ...        ...               ...              ...
341  Chinstrap      Dream         41.765996        15.257096
342     Gentoo      Dream         44.483557        20.390616
344  Chinstrap      Dream         41.898326        16.659695
347  Chinstrap  Torgersen         58.894094        20.051153
348     Adelie  Torgersen         35.084555        19.225181

     flipper_length_mm  body_mass_g   sex
0           224.770654  6100.789185  MALE
1           200.424523  2910.212059  MALE
2           181.479774  3060.291164  MALE
3           198.097524  4582.231660  MALE
5           209.923307  5924.134205  MALE
..                 ...          ...   ...
341         202.810585  3733.345545  MALE
342         226.263614  3687.650851  MALE
344         203.918004  4421.307861  MALE
347         183.680292  3378.813599  MALE
348         189.667516  3012.745583  MALE

[169 rows x 7 columns]

In [11]:
print(dataset[dataset["sex"] == 'FEMALE'])

       species     island  culmen_length_mm  culmen_depth_mm  \
4    Chinstrap     Biscoe         53.949836        15.695049
10      Gentoo     Biscoe         32.828741        19.928985
13   Chinstrap  Torgersen         36.941069        20.766823
14      Gentoo     Biscoe         38.359899        15.004161
15      Gentoo  Torgersen         49.438025        21.183191
..         ...        ...               ...              ...
336     Adelie      Dream         58.570337        21.084268
338     Gentoo      Dream         53.415246        14.748833
340     Gentoo      Dream         59.071220        16.011062
345     Gentoo  Torgersen         46.888493        13.594821
346  Chinstrap      Dream         50.876891        20.188351

     flipper_length_mm  body_mass_g     sex
4           224.175924  5915.503933  FEMALE
10          195.696501  3647.364787  FEMALE
13          220.041576  5917.708770  FEMALE
14          175.664245  4829.334122  FEMALE
15          198.664061  3399.436779  FEMALE
..                 ...          ...     ...
336         181.546410  3079.170340  FEMALE
338         217.390567  5383.281653  FEMALE
340         217.398231  6284.950309  FEMALE
345         174.195316  2756.567714  FEMALE
346         214.340542  4398.280301  FEMALE

[125 rows x 7 columns]

In [12]:
print(dataset[dataset["sex"] == 'FEMALE'].groupby("species").apply(list))

species
Adelie       [species, island, culmen_length_mm, culmen_dep...
Chinstrap    [species, island, culmen_length_mm, culmen_dep...
Gentoo       [species, island, culmen_length_mm, culmen_dep...
dtype: object

/tmp/ipykernel_15830/2573760326.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  print(dataset[dataset["sex"] == 'FEMALE'].groupby("species").apply(list))

In [13]:
print(dataset[dataset["sex"] == 'FEMALE'].groupby("species").size())

species
Adelie       36
Chinstrap    40
Gentoo       49
dtype: int64

In [14]:
print(dataset.groupby("species").size())

species
Adelie        88
Chinstrap     94
Gentoo       112
dtype: int64