In [10]:
import pandas as pd
dataset = pd.read_csv('penguins_size5.csv').dropna()

In [8]:
print(dataset)

       species     island  culmen_length_mm  culmen_depth_mm  \
0    Chinstrap     Biscoe         39.641020        16.559920
1       Adelie     Biscoe         52.924312        21.198324
2    Chinstrap  Torgersen         56.974197        21.204410
3       Gentoo  Torgersen         36.457206        14.211573
4    Chinstrap     Biscoe         53.949836        15.695049
..         ...        ...               ...              ...
344  Chinstrap      Dream         41.898326        16.659695
345     Gentoo  Torgersen         46.888493        13.594821
346  Chinstrap      Dream         50.876891        20.188351
347  Chinstrap  Torgersen         58.894094        20.051153
348     Adelie  Torgersen         35.084555        19.225181

     flipper_length_mm  body_mass_g     sex
0           224.770654  6100.789185    MALE
1           200.424523  2910.212059    MALE
2           181.479774  3060.291164    MALE
3           198.097524  4582.231660    MALE
4           224.175924  5915.503933  FEMALE
..                 ...          ...     ...
344         203.918004  4421.307861    MALE
345         174.195316  2756.567714  FEMALE
346         214.340542  4398.280301  FEMALE
347         183.680292  3378.813599    MALE
348         189.667516  3012.745583    MALE

[294 rows x 7 columns]

In [5]:
print(dataset.groupby("island").apply(list))

island
Biscoe       [species, island, culmen_length_mm, culmen_dep...
Dream        [species, island, culmen_length_mm, culmen_dep...
Torgersen    [species, island, culmen_length_mm, culmen_dep...
dtype: object

/tmp/ipykernel_15014/1500127876.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  print(dataset.groupby("island").apply(list))

In [7]:
print(dataset.groupby("island").value_counts())

island     species  culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g  sex
Biscoe     Adelie   32.205692         16.217073        199.797126         4949.233945  FEMALE    1
                    32.595078         18.911060        194.531325         5658.686599  MALE      1
                    32.644954         18.485514        192.868226         6299.449874  MALE      1
                    32.892824         16.914607        198.770377         3906.637071  MALE      1
                    33.884700         13.887740        178.230987         3137.607781  FEMALE    1
                                                                                                ..
Torgersen  Gentoo   57.814702         16.665522        213.360060         3711.412035  MALE      1
                    57.972361         15.170144        185.765540         4399.254049  MALE      1
                    58.245936         19.730585        230.363613         6115.235889  MALE      1
                    58.300316         16.830265        226.709461         3399.271514  MALE      1
                    58.663320         15.609040        208.054757         3654.670162  MALE      1
Name: count, Length: 294, dtype: int64

In [9]:
print(dataset.groupby("island")["species"].value_counts())

island     species
Biscoe     Chinstrap    37
           Gentoo       34
           Adelie       31
Dream      Gentoo       36
           Chinstrap    34
           Adelie       33
Torgersen  Gentoo       42
           Adelie       24
           Chinstrap    23
Name: count, dtype: int64